
body {
    background-color: aqua;
    
}
div.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    background-color: rgb(43, 124, 100);
    padding: 10px;
    margin: 10px;
}
div.story {

    background-color: white;
    padding: 10px;
    margin: 10px;
}
div.example {
    position: relative;
    background-color: rgb(14, 101, 141);
    display: block;
    border: 2 px solid black;
    padding: 10px;
    margin: 10px;
    top: 10px;
    left: 50%;
    width: 90%;
    height: 90%;
    float: right;
    text-align: center;
}
h1.text {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:  "wdth" 100;
  }
p.text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:  "wdth" 100;
}

img.image {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;

}